In [1]:
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix


import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

import acquire
import prepare

In [2]:
df = acquire.get_titanic_data()

In [3]:
df

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [4]:
df.dropna(inplace=True)

In [5]:
X = df[['pclass','fare']]
y = df[['survived']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

     pclass      fare
123       2   13.0000
689       1  211.3375
174       1   30.6958
88        1  263.0000
712       1   52.0000

In [17]:
logit = LogisticRegression(random_state = 123)

In [18]:
logit.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=123, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
y_pred = logit.predict(X_train)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [20]:
y_pred_proba = logit.predict_proba(X_train)
y_pred_proba

array([[0.420115  , 0.579885  ],
       [0.15331304, 0.84668696],
       [0.45309807, 0.54690193],
       [0.10491601, 0.89508399],
       [0.409144  , 0.590856  ],
       [0.35514903, 0.64485097],
       [0.45924998, 0.54075002],
       [0.29667123, 0.70332877],
       [0.36346142, 0.63653858],
       [0.41020429, 0.58979571],
       [0.39915182, 0.60084818],
       [0.21121019, 0.78878981],
       [0.10491601, 0.89508399],
       [0.36791405, 0.63208595],
       [0.42525055, 0.57474945],
       [0.40123153, 0.59876847],
       [0.45723847, 0.54276153],
       [0.45246357, 0.54753643],
       [0.37055492, 0.62944508],
       [0.44309662, 0.55690338],
       [0.35428193, 0.64571807],
       [0.42525055, 0.57474945],
       [0.33461194, 0.66538806],
       [0.10541113, 0.89458887],
       [0.4637741 , 0.5362259 ],
       [0.51755384, 0.48244616],
       [0.420115  , 0.579885  ],
       [0.3862454 , 0.6137546 ],
       [0.35514903, 0.64485097],
       [0.45768245, 0.54231755],
       [0.37445749, 0.62554251],
       [0.25692527, 0.74307473],
       [0.40801664, 0.59198336],
       [0.33461194, 0.66538806],
       [0.44725512, 0.55274488],
       [0.11779802, 0.88220198],
       [0.35428193, 0.64571807],
       [0.2924874 , 0.7075126 ],
       [0.45454993, 0.54545007],
       [0.37445749, 0.62554251],
       [0.45350655, 0.54649345],
       [0.38900119, 0.61099881],
       [0.44309662, 0.55690338],
       [0.46230896, 0.53769104],
       [0.32808418, 0.67191582],
       [0.35411724, 0.64588276],
       [0.46175969, 0.53824031],
       [0.50703777, 0.49296223],
       [0.33629303, 0.66370697],
       [0.35884474, 0.64115526],
       [0.42525055, 0.57474945],
       [0.37979658, 0.62020342],
       [0.34602523, 0.65397477],
       [0.35004077, 0.64995923],
       [0.35514903, 0.64485097],
       [0.46175969, 0.53824031],
       [0.35695041, 0.64304959],
       [0.25510809, 0.74489191],
       [0.15331304, 0.84668696],
       [0.34120363, 0.65879637],
       [0.33259225, 0.66740775],
       [0.40690732, 0.59309268],
       [0.36268273, 0.63731727],
       [0.409144  , 0.590856  ],
       [0.36346142, 0.63653858],
       [0.35754655, 0.64245345],
       [0.30016674, 0.69983326],
       [0.10541113, 0.89458887],
       [0.35754655, 0.64245345],
       [0.39371123, 0.60628877],
       [0.28091112, 0.71908888],
       [0.30016674, 0.69983326],
       [0.01416556, 0.98583444],
       [0.46175969, 0.53824031],
       [0.44617151, 0.55382849],
       [0.39061147, 0.60938853],
       [0.4620997 , 0.5379003 ],
       [0.45454993, 0.54545007],
       [0.10491601, 0.89508399],
       [0.44485431, 0.55514569],
       [0.46231775, 0.53768225],
       [0.34755504, 0.65244496],
       [0.40215877, 0.59784123],
       [0.39703383, 0.60296617],
       [0.39371123, 0.60628877],
       [0.46305882, 0.53694118],
       [0.35992679, 0.64007321],
       [0.15313555, 0.84686445],
       [0.35800163, 0.64199837],
       [0.33259225, 0.66740775],
       [0.43351153, 0.56648847],
       [0.45350655, 0.54649345],
       [0.46230896, 0.53769104],
       [0.43687397, 0.56312603],
       [0.36791405, 0.63208595],
       [0.23049068, 0.76950932],
       [0.32808418, 0.67191582],
       [0.409144  , 0.590856  ],
       [0.40690732, 0.59309268],
       [0.35411724, 0.64588276],
       [0.34755504, 0.65244496],
       [0.34695073, 0.65304927],
       [0.28091112, 0.71908888],
       [0.40942385, 0.59057615],
       [0.23049068, 0.76950932],
       [0.45517616, 0.54482384],
       [0.25692527, 0.74307473],
       [0.34755504, 0.65244496],
       [0.2924874 , 0.7075126 ],
       [0.41220864, 0.58779136],
       [0.35582409, 0.64417591],
       [0.29667123, 0.70332877],
       [0.45931103, 0.54068897],
       [0.36280051, 0.63719949],
       [0.22764752, 0.77235248],
       [0.45454993, 0.54545007],
       [0.35428193, 0.64571807],
       [0.45517616, 0.54482384],
       [0.39915182, 0.60084818],
       [0.22764752, 0.77235248],
       [0.39703383, 0.60296617],
       [0.40123153, 0.59876847],
       [0.35884474, 0.64115526],
       [0.35695041, 0.64304959],
       [0.22764752, 0.77235248],
       [0.44971047, 0.55028953],
       [0.37111136, 0.62888864]])

In [26]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.65

In [22]:
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(logit.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.78